<launch>
     <include file="$(find vrep_ros_teleop)/launch/teleop_mux.launch"/>

    <node pkg="shore_follower_truck" type="shore_follower_observe_truck" name="shore_follower_observe_truck" output="screen">
      launch-prefix="xterm -e gdb --args">
      <param name="world_frame" value="/world" />
      <param name="base_frame" value="/VSV/cabin" />
      <param name="out_dir" value="/home/GTL/lschwing/catkin_ws/src/shore_follower_truck/validation" />
      <param name="rotation_threshold" value="0.2" />
      <param name="min_displacement" value="0.1" />
      <param name="min_rotation" value="0.1" />
      <param name="max_image_per_type" value="1000" />
      <param name="joystick_button" value="3" />
      <remap from="/shore_follower_observe_truck/joy" to="/joy"/>
      <remap from="/shore_follower_observe_truck/image" to="/vrep/visionSensor"/>
      <remap from="/shore_follower_observe_truck/twist" to="/vsv_driver/twistCommand"/>
  </node>
</launch>
